.start-now-container {
  position: relative;
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 14rem;
  padding-top: 14rem;
}

.start-now-content-container {
  position: relative;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  max-width: 36rem;
  text-align: center;
}

.start-now-content-header {
  margin: 0;
  font-weight: inherit;
  margin-bottom: 1.5rem;
  line-height: 1.25;
  color: rgba(255, 255, 255, 1);
  font-size: 3.25rem;
}

.start-now-content-text {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  font-weight: 300;
  color: rgba(168, 168, 168, 1);
}

.start-now-content-button {
  text-decoration: inherit;
  user-select: none;
  border-radius: 0.125rem;
  display: inline-block;
  font-weight: 700;
  padding: 0.75rem 1rem;
  text-align: center;
  text-transform: uppercase;
  transform: var(--tw-transform);
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --tw-text-opacity: 1;
  background-color: transparent;
  border-color: transparent;
  border-width: 2px;
  color: rgba(255, 215, 68, var(--tw-text-opacity));
  transition-duration: 0.3s;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.start-now-content-button:hover {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  line-height: inherit;
  font-family: Titillium Web, -apple-system, system-ui, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Arial;
  border: 0 solid;
  box-sizing: border-box;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-transform: translateX(var(--tw-translate-x))
    translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
  --tw-border-opacity: 1;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-sepia: var(--tw-empty, /*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty, /*!*/ /*!*/);
  --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
  --tw-backdrop-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-opacity: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-sepia: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  text-decoration: inherit;
  user-select: none;
  border-radius: 0.125rem;
  display: inline-block;
  font-weight: 700;
  padding: 0.75rem 1rem;
  text-align: center;
  text-transform: uppercase;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-color: transparent;
  border-width: 2px;
  transition-duration: 0.3s;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 1;
  --tw-scale-x: 0.95;
  --tw-scale-y: 0.95;
  transform: var(--tw-transform);
  --tw-text-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  color: rgba(16, 16, 16, var(--tw-text-opacity));
}

.start-now-content-arrow {
  display: inline-block;
  height: 1em;
  font-size: 1.33333em;
  line-height: 0.75em;
  margin-left: 0.25rem;
  transform: var(--tw-transform);
  transition-duration: 0.2s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  vertical-align: -0.225em;
  overflow: visible;
}

.start-now-container-background {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  line-height: inherit;
  font-family: Titillium Web, -apple-system, system-ui, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Arial;
  --tw-bg-opacity: 1;
  border: 0 solid;
  box-sizing: border-box;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-transform: translateX(var(--tw-translate-x))
    translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
  --tw-border-opacity: 1;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-sepia: var(--tw-empty, /*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty, /*!*/ /*!*/);
  --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
  --tw-backdrop-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-opacity: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-sepia: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  border-color: rgba(92, 92, 92, var(--tw-border-opacity));
  z-index: 0;
  --tw-grayscale: grayscale(100%);
  animation: move-to-bottom 56s linear infinite;
  background-image: url(../../../public/img/binary-matrix.png);
  background-repeat: repeat;
  background-size: 640px auto;
  filter: var(--tw-filter);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.start-now-container-background::after {
  --tw-gradient-from: #101010;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, hsla(0, 0%, 6%, 0));
  --tw-gradient-stops: var(--tw-gradient-from), transparent,
    var(--tw-gradient-to, transparent);
  --tw-gradient-to: #101010;
  background-image: linear-gradient(180deg, #101010, transparent, #101010);
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@keyframes move-to-bottom {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 500%;
  }
}
